[submodule "Engine/dependency/glfw"]
	path = Engine/dependency/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engine/dependency/zerializer"]
	path = Engine/dependency/zerializer
	url = git@github.com:Damian-crypto/zerializer.git
