[submodule "Engine/dependency/glfw"]
	path = Engine/dependency/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engine/dependency/zerializer"]
	path = Engine/dependency/zerializer
	url = git@github.com:Damian-crypto/zerializer.git
[submodule "Zeus/dependency/zerializer"]
	path = Zeus/dependency/zerializer
	url = https://github.com/Damian-crypto/zerializer.git
[submodule "GLFW"]
	path = GLFW
	url = https://github.com/Damian-crypto/glfw
[submodule "Zerializer"]
	path = Zerializer
	url = https://github.com/Damian-crypto/zerializer
